body{
    background: url('aotbg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: ?; */
      }

#mk{
    width:30%;
    position: absolute;
    left:800px;
    top: 410px;
}

#mktext{
    font-family: 'Linotext';
    text-shadow: 2px 2px #470202;
    /* left:750px; */
    /* text-align: center; */
    font-size: 100px;
    position: absolute;
    /* top: 5px; */
    left: 860px;
}

#my_datavi{
  position: absolute;
  top:700px;
  left: 1800px;
  background-color: #FFECCF4d;
  background-position: center;

  /* border: solid 5px black; */
  /* position: absolute;
  top:1300px;
  
  left: 700px; */
  
  /* left: -300px; */
}


#b{
  /* font: 'Linotext';
   */
   background-color: #6b0407; /* Green */
   border: none;
   border-radius: 5px;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 28px;
   font-family: 'Linotext';
   transition-duration: 0.4s;
}

#b:hover{
  background-color: #7a1d20; /* Green */
  color: white;
}

#my_dataviz{
  position: absolute;
  align-items: center;
  top:120px;
  left: 1800px;
  background-color: rgb(245, 236, 199,0.3);
  background-position: center;
  transition-duration: 0.4s;
  font-family: 'Linotext';
  font-size: 32px;
  

}

#my_dataviz:hover{
  background-color: rgba(207, 247, 160, 0.3);
  z-index: 10;
}

#my_datavi:hover{
  background-color: rgba(207, 247, 160, 0.3);
  z-index: 10;
}

#my_datav{
  position: absolute;
  top:120px;
  background-color: rgb(245, 236, 199,0.3);
  background-position: center;
  transition-duration: 0.4s;
  font-family: 'Linotext';
  font-size: 32px;
}

#my_datav:hover{
  background-color: rgba(207, 247, 160, 0.3);
}

#disc{
  position: absolute;
  color:#000000;
  top:350px;
  left:690px;
  font-family: 'Linotext';
  font-size: 50px;
  /* border: 1px solid #91012c; */
  background-color: rgba(252, 236, 196, 0.5);
  /* text-shadow: 1px 1px #470202; */
  background-position: center;
  border-radius: 50%;
  padding: 30px;
  transition-duration: 0.4s;
  /* background: url(p1.jpg); */
  /* background-o */
  /* border-bottom: ; */

  /* position: absolute;
  color:#FFECCF;
  top:800px;
  left:880px;
  font-family: 'Linotext';
  font-size: 50px; */
  /* border: 1px solid #91012c; */
  /* background-color:#000000;
  background-position: center; */
}

#disc:hover{
  background-color: rgba(87, 21, 3, 0.5);
  color:#f7f6eb;
}


#disc2:hover{
  background-color: rgba(87, 21, 3, 0.5);
  color:#f7f6eb;
}

#disc3:hover{
  background-color: rgba(87, 21, 3, 0.5);
  color:#f7f6eb;
}

#disc4:hover{
  background-color: rgba(87, 21, 3, 0.5);
  color:#f7f6eb;
}

#disc5:hover{
  background-color: rgba(87, 21, 3, 0.5);
  color:#f7f6eb;
}

#disc6:hover{
  background-color: rgba(87, 21, 3, 0.5);
  color:#f7f6eb;
}




#disc2{
  text-align: center;
  position: absolute;
  color:#000000;
  top:350px;
  left:1380px;
  font-family: 'Linotext';
  font-size: 50px;
  transition-duration: 0.4s;
  /* border: 1px solid #91012c; */
  background-color: rgba(252, 236, 196, 0.5);
  /* text-shadow: 1px 1px #470202; */
  background-position: center;
  border-radius: 50%;
  padding: 30px;
}

#disc3{
  text-align: center;
  position: absolute;
  color:#000000;
  top:560px;
  left:530px;
  font-family: 'Linotext';
  font-size: 50px;
  transition-duration: 0.4s;
  /* border: 1px solid #91012c; */
  background-color: rgba(252, 236, 196, 0.5);
  /* text-shadow: 1px 1px #470202; */
  background-position: center;
  border-radius: 50%;
  padding: 30px;
}

#disc4{
  text-align: center;
  position: absolute;
  color:#000000;
  top:560px;
  left:1480px;
  font-family: 'Linotext';
  font-size: 50px;
  transition-duration: 0.4s;
  /* border: 1px solid #91012c; */
  background-color: rgba(252, 236, 196, 0.5);
  /* text-shadow: 1px 1px #470202; */
  background-position: center;
  border-radius: 50%;
  padding: 30px;
}

#disc5{
  text-align: center;
  position: absolute;
  color:#000000;
  top:800px;
  left:630px;
  font-family: 'Linotext';
  font-size: 50px;
  transition-duration: 0.4s;
  /* border: 1px solid #91012c; */
  background-color: rgba(252, 236, 196, 0.5);
  /* text-shadow: 1px 1px #470202; */
  background-position: center;
  border-radius: 50%;
  padding: 30px;
}

#disc6{
  text-align: center;
  position: absolute;
  color:#000000;
  top:800px;
  left:1370px;
  font-family: 'Linotext';
  font-size: 50px;
  transition-duration: 0.4s;
  /* border: 1px solid #91012c; */
  background-color: rgba(252, 236, 196, 0.5);
  /* text-shadow: 1px 1px #470202; */
  background-position: center;
  border-radius: 50%;
  padding: 30px;
}

#doughnut-chart{
  position: absolute;
  top:750px;
  left: -850px;
  width: 100%;
  /* background-color: rgb(245, 236, 199,0.3); */
  /* width: 10%; */
  /* left:950px; */

  /* font-size: 50px; */
}

.height{
  font-family: 'Linotext';
    font-size: 32px;
     position: absolute;
     font-weight: lighter;
      top: 70px;
       z-index: 10;
       background-color: #294023; 

      color: #FFECCF;
      padding: 10px;
      border-radius: 10px;

}

.kills{
  font-family: 'Linotext';
    font-size: 32px;
     position: absolute;
     font-weight: lighter;
      top: 650px;
       z-index: 10;
       background-color: #294023; 

      color: #FFECCF;
      padding: 10px;
      border-radius: 10px;

}

.rank{
  font-family: 'Linotext';
    font-size: 32px;
     position: absolute;
     font-weight: lighter;
      top: 70px !important;
      left: 1800px;
       z-index: 20;
       background-color: #294023; 

      color: #FFECCF;
      padding: 10px;
      border-radius: 10px;

}

.pop{
  font-family: 'Linotext';
    font-size: 32px;
     position: absolute;
     font-weight: lighter;
      top: 650px;
      left: 1800px;
       z-index: 20;
       background-color: #294023; 

      color: #FFECCF;
      padding: 10px;
      border-radius: 10px;

}